<!DOCTYPE hibernate-configuration PUBLIC
  "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
  "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.driver_class">org.postgresql.Driver</property>
    <property name="connection.url">jdbc:postgresql://localhost:5432/gas_station</property>
    <property name="connection.username">postgres</property>
    <property name="connection.password">postgres</property>
    <property name="hibernate.hbm2ddl.auto=update">validate</property>
    <property name="hibernate.id.new_generator_mappings">true</property>
    <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hbm2ddl.auto">update</property>
    <property name="show_sql">true</property>
    <mapping class="org.project.gas_station.app.gas_station_coursework.model.Fuel"/>
    <mapping class="org.project.gas_station.app.gas_station_coursework.model.SupplierFuel"/>
  </session-factory>
</hibernate-configuration>
